.Rproj.user
.Rhistory
.RData
inst/doc

## ignore Rhistory
.Rhistory

## rmbct and rmbct.Rcheck
rmbct
rmbct.Rcheck

## emacs produces ~data
~*
*~
\#*

## .RData files
help.RData
help.Rdata

# files used for the packagebuilding
#RpackageBuilding.R

## .tar und .targz datei
rmbct_1.0*
rmbct-manual.pdf

## the whole ./R/ directory including the .Rd files
randomizeR/randomizeR/man
randomizeR/*.pdf

## the unnecessary vignette files
randomizeR/randomizeR/vignettes/*.blg
randomizeR/randomizeR/vignettes/*.pdf
randomizeR/randomizeR/vignettes/*.tex
randomizeR/randomizeR/vignettes/*.toc
randomizeR/randomizeR/vignettes/*.gz
randomizeR/randomizeR/vignettes/*.xml
randomizeR/randomizeR/vignettes/*.log
randomizeR/randomizeR/vignettes/*.bbl
randomizeR/randomizeR/vignettes/*.csv


## the binary files which contain the package
*.zip
*.tar.gz